

.nav-container {
    background: #3a415a;
    margin-right: 5px;
    border-radius: 8px;
    height: 40vh;

    position: absolute;
    right: 0;
    top: 0;
    overflow-x: hidden;
}

.close-menu {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    color: white;
}

.profile {
    
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    gap: 15px;
    margin-top: 20%;
}

.nav-container .profile .link:hover{
    color: rgba(238, 238, 63, 0.74);
} 

