#contact {
    background-color: rgb(18, 20, 51);
    min-height: 70vh;
    width: 100%;
}

.contact-title {
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0;
}
.contacto.active{
    animation: mov-box 2.5s 1;
    animation-delay: 0s;
    opacity: 1;

}

@keyframes mov-box{
    0%{
        transform: translateY(30%);
    }
    100%{
        transform: translateY(0);
    }
}

.input-form {
    width: 50%;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border-color: rgba(238, 238, 63, 0.74);
    color: rgb(231, 231, 254);
    padding: 5px;
    font-size: 18px;
    font-family: 'Gill Sans MT';
    font-weight: 100;

}

.input-form:focus {
    border-color: rgb(117, 114, 217);
    background-color: rgba(238, 238, 63, 0.74);
    color: rgb(18, 20, 51);
}

.area-form {
    width: 50%;
    height: 20vh;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    border-color: rgba(238, 238, 63, 0.74);
    color: rgb(231, 231, 254);
    font-size: 18px;
    font-family: 'Gill Sans MT';
    font-weight: 100;
}

.area-form:focus {
    border-color: rgb(117, 114, 217);
    background-color: rgba(238, 238, 63, 0.74);
    color: rgb(18, 20, 51);
}

.label-form {
    width: 50%;
    height: 30px;
    color: rgb(231, 231, 254);
    font-weight: 300;
    font-size: 20px;
}

.button-form {
    width: 20%;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(238, 238, 63, 0.74);
    border-color: rgba(238, 238, 63, 0.74);
    color:  rgb(18, 20, 51);
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans MT';
    font-weight: 100;
    margin-top: 10px;
}

.button-form:hover{
    color: rgb(231, 231, 254);
 
}

@media (min-width:320px) and (max-width: 940px) {
    .contact-title{
        padding-top: 10px;
        margin-bottom: 10px;
    }
}
