.nav-header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #34344e5a;
    position: fixed;
}
.nav-link{
    display: flex;
    gap: 15px;

}
.link{
    color: rgba(243, 242, 253, 0.842);
    font-size: 25px;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
.nav-header .nav-link .link:focus{
    color: rgba(238, 238, 63, 0.74);
    border-bottom:1px solid rgba(238, 238, 63, 0.74);

}
.nav-header .nav-link .link:hover{
    color: rgba(238, 238, 63, 0.74);
}

.nav-title {
    color:  rgba(243, 242, 253, 0.658);
    font-family: 'Gill Sans MT';
    font-weight: 400;
}
.menuhamburguesa{
    color: rgba(243, 242, 253, 0.658);
    width: 20px;
    height: 20px;
}

@media (max-width:768px) {
    .nav-link{
        display: none;
    }
}
@media (min-width:769px) {
    .menuhamburguesa{
        display: none;
    }
}
