.nav-header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #34344e8e;

}

.link{
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
}
.nav-header .nav-link .link:active,:focus{
    color: #fdb82f;
    border-bottom:1px solid #fdb82f;
    padding: 8px;
}
.nav-header .nav-link .link:hover{
    color: #fdb82f;
}

.nav-title {
    color: white;
    font-weight: 400;
}
.menuhamburguesa{
    color:white;
    width: 20px;
    height: 20px;
}

@media (max-width:768px) {
    .nav-link{
        display: none;
    }
}
@media (min-width:767px) {
    .menuhamburguesa{
        display: none;
    }
}
