.skill {
    width: 100%;
    min-height: 70vh;
    background-color: rgb(18, 20, 51);
    display: flex;
    flex-direction: column;  
    text-align: center;

}

.skill-h1 {
    color: rgb(231, 231, 254);
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.skill-title {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-self: center;
    margin-top: 4rem;


}

.skills:hover {
    filter: saturate(1);
    background-color: rgba(218, 218, 82, 0.137);
    border: 1px solid rgba(255, 255, 255, 0.521);
    border-radius: 8px;
}

.skills {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    filter: grayscale(100%);
    padding-block: 10px;
}

.skill-img {
    width: 80px;
    height: 80px;
}

.skill-h2 {
    text-align: center;
    color: rgb(231, 231, 254);
    font-weight: 100;
    font-size: 28px;
}
